.partners{

background:#F8FAFC;

}

.logo-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

gap:30px;

}

.logo-card{

background:white;

padding:35px;

border-radius:20px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

transition:.35s;

box-shadow:0 12px 30px rgba(0,0,0,.06);

}

.logo-card:hover{

transform:translateY(-10px);

}

.logo-card img{

width:90px;

height:90px;

object-fit:contain;

margin-bottom:20px;

filter:grayscale(100%);

transition:.35s;

}

.logo-card:hover img{

filter:none;

transform:scale(1.08);

}

.logo-card h4{

color:#003B49;

}