.testimonials{

background:#fff;

}

.testimonial-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

gap:30px;

}

.testimonial-card{

padding:35px;

position:relative;

}

.quote{

font-size:42px;

color:#009999;

margin-bottom:20px;

}

.stars{

color:#FFC107;

margin-bottom:20px;

font-size:18px;

}

.testimonial-card p{

line-height:30px;

color:#64748B;

margin-bottom:25px;

}

.testimonial-card h3{

color:#003B49;

margin-bottom:5px;

}

.testimonial-card span{

color:#009999;

font-weight:600;

}