.about{

display:grid;

grid-template-columns:1fr 1fr;

gap:70px;

padding:100px 8%;

background:#fff;

align-items:center;

}

.image-box{

position:relative;

}

.image-box img{

width:100%;

border-radius:20px;

box-shadow:0 20px 50px rgba(0,0,0,.15);

}

.experience{

position:absolute;

bottom:-30px;

right:-20px;

background:#009999;

color:white;

padding:25px;

border-radius:16px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.2);

}

.experience h2{

font-size:42px;

}

.section-tag{

display:inline-block;

background:#E8FAFA;

color:#009999;

padding:8px 18px;

border-radius:30px;

font-weight:600;

margin-bottom:20px;

}

.about-right h2{

font-size:42px;

color:#003B49;

margin-bottom:25px;

}

.about-right p{

line-height:32px;

color:#666;

margin-bottom:35px;

}

.feature-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:18px;

margin-bottom:35px;

}

.feature-card{

background:#F7FAFB;

padding:18px;

border-radius:12px;

font-weight:600;

transition:.3s;

}

.feature-card:hover{

background:#009999;

color:white;

transform:translateY(-5px);

}

.about-btn{

padding:15px 35px;

background:#009999;

border:none;

color:white;

font-size:16px;

border-radius:35px;

cursor:pointer;

transition:.3s;

}

.about-btn:hover{

background:#006d6d;

}

@media(max-width:991px){

.about{

grid-template-columns:1fr;

}

.feature-grid{

grid-template-columns:1fr;

}

}