.section-title{

text-align:center;

margin-bottom:70px;

}

.section-title span{

display:inline-block;

color:var(--primary);

font-weight:700;

letter-spacing:2px;

margin-bottom:15px;

text-transform:uppercase;

}

.section-title h2{

font-size:46px;

font-weight:700;

color:var(--primary-dark);

margin-bottom:18px;

}

.section-title p{

max-width:700px;

margin:auto;

font-size:18px;

line-height:30px;

color:var(--text-light);

}